name: sysfoo-ci-pipeline

on: 
  push:

jobs: 
  build-sysfoo:
    runs-on: ubuntu-latest
  
    steps:
      - name: Code checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Git leaks Secret Scanning
      - name: GitLeaks Secret Scanning
        uses: gitleaks/gitleaks-action@v2
        with:
            fetch-depth: 0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run mvn test
        run: mvn test
        
      - name: Run mvn clean & package
        run: mvn clean package

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/maven@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: SAST scan - SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=kvsatishkumar7
            -Dsonar.projectKey=kvsatishkumar7_sysfoo-old
            -Dsonar.language=java
            -Dsonar.sources=.
            -Dsonar.java.binaries=target/classes
            -Dsonar.verbose=true

      - name: List target directory
        run: ls -lrt target
        
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sysfoo
          path: target/sysfoo.war

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        
      - name: Docker Build
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/sysfoo:v1 .

      # Trivy Image scanning
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/sysfoo:v1'
          format: 'sarif'
          exit-code: '0'
          ignore-unfixed: true
          output: 'trivy-results.sarif'
            
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
        
      - name: Docker Push
        run: docker push ${{ secrets.DOCKER_USERNAME }}/sysfoo:v1

      - name: ZAP scan
        uses: zaproxy/action-full-scan@v0.12.0
        with:
          target: 'https://ginandjuice.shop/'

  deploy-in-k8s:
    runs-on: ubuntu-latest
    needs: build-sysfoo

    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Start Minikube
        uses: medyagh/setup-minikube@latest

      - name: Verify cluster
        run: kubectl get pods -A

      - name: Deploy to Minikube
        run: |
          kubectl apply -f manifests/deployment.yaml
          kubectl apply -f manifests/service.yaml
          kubectl wait --for=condition=ready pod -l app=sysfoo

      - name: Test service URLs
        run: |
          minikube service list
          minikube service sysfoo-service --url
          echo -n "------------------- Opening the service ---------------------"
          curl $(minikube service sysfoo-service --url)
